/* PURECSS VERTICAL MENU */

.pure-menu-link, .pure-g, .pure-g [class *= "pure-u"]{
    font-family: inherit;
    color: inherit;
}
@media only screen and (max-width :480px){
    .pure-form button[type=submit]{ margin:inherit; }
    .pure-form input:not([type]),.pure-form input[type=text],.pure-form input[type=password],.pure-form input[type=email],.pure-form input[type=url],.pure-form input[type=date],.pure-form input[type=month],.pure-form input[type=time],.pure-form input[type=datetime],.pure-form input[type=datetime-local],.pure-form input[type=week],.pure-form input[type=number],.pure-form input[type=search],.pure-form input[type=tel],.pure-form input[type=color],.pure-form label{ margin-bottom: inherit; display: inline-block;}
}
.pure-menu-active>.pure-menu-link,
.pure-menu-link:hover,
.pure-menu-link:focus{
    text-decoration: none;
    background-color: inherit;
}
.pure-menu-horizontal.pure-menu-scrollable,
.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
    padding: .5em;
}
.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
    background-color: inherit;
}
.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected{
    background-color: #f03 !important;
    font-family: 'Montserrat', sans-serif;
}

/* PURECSS VERTICAL MENU */
#menu a {
    padding: 0;
}
#layout {
    left: 0;
    overflow-x: hidden;
}
.responsive-vertical .pure-menu-item{
    overflow-x: hidden;
}
.responsive-vertical .pure-menu-link{
    background-color: #fff;
}
.responsive-vertical .pure-button.pure-menu-link{
    color: #fff;
}
.responsive-vertical .pure-menu-disabled{
    color: #fff;
    opacity: 1;
}
.responsive-vertical .pure-menu-link:hover{
    background-color: #ccc;
}
.responsive-vertical .pure-menu-link{
    width: 100%;
    border: 0;
    border-bottom: solid 1px #222;
    border-radius: 0;
}
.responsive-vertical .home-link{
    height: 44px;
    height: 2.75em;
    background-color: inherit;
}
.responsive-vertical .home-link:focus,
.responsive-vertical .home-link:hover{
    background-color: inherit;
    opacity: .5;
}

/* PIKADAY */
.pika-single{
    margin-left: -150px;
    font-family: inherit;
}
.is-selected .pika-button,
.pika-button:hover{
    border-radius: 0;
}
@media only screen and (min-width :48em){
    .pika-single{
        margin-left: 0;
    }
}

/* SWIPER */
.swiper-bg{
    background-size: cover;
    background-position: center;
    position: absolute;
    opacity: .5;
    height: 100%;
    width: 100%;
}
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M0,22L22,0l2.1,2.1L4.2,22l19.9,19.9L22,44L0,22L0,22L0,22z' fill='#f03'/></svg>");
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'><path d='M27,22L27,22L5,44l-2.1-2.1L22.8,22L2.9,2.1L5,0L27,22L27,22z' fill='#f03'/></svg>");
}
.swiper-pagination-bullet-active {
    background: #f03;
}
.swiper-pagination-bullet {
    /*border: solid 1px transparent;*/
}
.swiper-container {
    width: 100%;
    height: 300px;
} 
.swiper-slide{
    background-size: cover;
    background-position: center;
}
.slide-0{background-image: url('slide/villa-irma-d776678d.jpg');}
.slide-1{background-image: url('slide/villa-irma-12f35e5b.jpg');}
.slide-2{background-image: url('slide/villa-irma-13c83c0a.jpg');}
.slide-3{background-image: url('slide/villa-irma-53d677c7.jpg');}
.slide-4{background-image: url('slide/villa-irma-570fd2d8.jpg');}
.slide-5{background-image: url('slide/villa-irma-6241f71a.jpg');}
.slide-6{background-image: url('slide/villa-irma-8660d51d.jpg');}
.slide-7{background-image: url('slide/villa-irma-9565485a.jpg');}
